
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* all apply */

.side{
        padding: 0 50px;

}

.pr{
    color:rgba(0, 0, 0, 0.5) ;
}

.or{
    color: rgba(233, 90, 8, 1);
}
.org{
    background-color: rgba(233, 90, 8, 1);
}


/* navber */

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list,li,a{
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
}

.li,a:hover{
    color:white ;
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}


/* always fresh flower */

.fresh{
    display: flex;
    margin-top: 60px;
}

.always{
    font-size: 65px;
}





@media screen and (max-width:576px){
    .navber{
        padding:0 16px;
    }

    .nav-item{
        display:none;
    }

    .flower img{
        max-width: 576px;
        margin-top: -20px;
    }

    .always{
        font-size: 24px;
        margin-top: 28px;
        padding-left: 16px;
    }

.fp{
    font-size: 14px;
    padding-left: 16px;

}
    .fresh{
        flex-direction: column-reverse;
    }


}
