
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* all apply */

.side{
        padding: 0 50px;

}

.pr{
    color:rgba(0, 0, 0, 0.5) ;
}

.or{
    color: rgba(233, 90, 8, 1);
}
.org{
    background-color: rgba(233, 90, 8, 1);
}


/* navber */

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list,li,a{
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
}

.li,a:hover{
    color:white ;
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}


/* always fresh flower */

.fresh{
    display: flex;
    margin-top: 60px;
}

.always{
    font-size: 65px;
}

.card{
    text-align: center;
}

.btn{
    border: none;
    padding: 8px;
    color: white;
    width: 270px;
    height: 50px;
}

.card-main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

/* flower-store */

.flower-section{
    display: flex;
}

.flower-text{
    margin-top: 280px;
}

.flower-store{
    margin-top: 200px;
}

.store{
    position: relative;
    width: 540px;
    height: 580px;
}

.trust{
    position: absolute;
    margin-left: -180px;
    margin-top: -130px;
}

.listy{
    list-style: disc;
}

.fpl{
    font-size: 50px; 
    font-weight: bold; 
    margin-top: 40px;
}

.fplt{
    margin-top: -40px;
}

.latest-all{
    margin-top: 70px;
}

.latest-text{
    align-items: center;
    text-align: center;
}

.two-pic{
    margin-top: 18px;
}

.bloom-text{
    position: absolute;
    color: white;
    padding-left:90px;
    padding-top:60px;
}



.bloom-pic{
    border-radius: 14px;
}

.zabo-text{
        position: absolute;
    color: white;
    padding-left:150px;
    padding-top:80px;
    font-size: 40px;
}

.zabo{
    border-radius: 14px;
    width:740px ;
    height: 410px;
}

.latest-photo{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    /* gap: 28px; */
    /* max-width: fit-content; */
}




@media screen and (max-width:576px){
    .navber{
        padding:0 16px;
    }

    .nav-item{
        display:none;
    }

    .flower img{
        max-width: 576px;
        margin-top: -20px;
    }

    .always{
        font-size: 24px;
        margin-top: 28px;
        padding-left: 16px;
    }

.fp{
    font-size: 14px;
    padding-left: 16px;

}

    .fresh{
        flex-direction: column-reverse;
    }

    .card-main{
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(160px,2fr));
        gap: 20px;
        height:0 auto;
        max-width: 100%;
    }

    .card, .btn{
        max-width: 100%;
    }

    .card img{
        width: 100%;
    }

    .flower-section{
        display: grid;
        margin-top: -140px;
    }

    .store{
        max-width: 100%;
    }

    .trust{
        display: none;
    }

    .flower-text{
        margin-top: -40px;
    }

    .fpl{
        display: flex;
        font-size: 24px;
    }

    .fplt{
        text-indent: 5px;
    }

    .latest-text{
        display: grid;
        grid-template-columns: repeat(1,fr1);
    }

    .bloom-pic{
        width: 470px;
    }

    .bloom-text{
        margin-top: 0px;
        margin-left: 60px;
        font-size: 20px;
    }

    .latest-photo{
        display: grid;
        grid-template-columns: repeat(1,fr1);
        align-items: center;
        justify-items: center;
    }
    .jabo-text{
        font-size: 20px;
    }
    .jabo{
                width: 475px;
    }


}
